<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="/static/css/style.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css' ) }}">
</head>
<body>
    <h1>UNE CHAT</h1>
    <div id="main_chat">
        <span class="bubble_msj">Mensaje Prueba</span>
        <span class="bubble_msj">Mensaje Prueba</span>
        <span class="bubble_msj">Mensaje Prueba</span>
    </div>
    <input type="text" name="" id="input_text">
    <button id="send_button">Enviar!</button>

    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io();

    socket.on('connect', function() {
        socket.emit('carro', {data: 'Me conecte', value:5});
    });

    socket.on("respuesta", (response)=>{
        alert(response)
    });

    let button = document.querySelector("#send_button");
    let input = document.querySelector("#input_text");

    function enviar(){
        socket.emit('message', {data: input.value});
        input.value = "";
    }

    button.addEventListener("click",()=>{
        enviar();
    });

    input.addEventListener("keyup", function(event) {
        if (event.key === "Enter") {
            enviar()
        }
    });

    let chat = document.querySelector("#main_chat");
    socket.on("confirmation", (response)=>{
        msj = document.createElement("div");
        msj.innerHTML= response
        chat.appendChild(msj)
    });



</script>
</body>
</html>